<header>
    Header
    <ul>
        <% if(locals.user){ %>
        <li>
            <a href="/users/profile/<%=user.id%>"><%=user.name%></a>
            
        </li>
    <li>
        <a href="/users/sign_out">SignOut</a>
    </li>
    <%}else{%>
        <li><a href="/users/sign_in">SignIn</a></li>
        <li><a href="/users/sign_up">SignUp</a></li>
    <%}%>

    </ul>
</header>