<h1>sign up </h1>

<form action='/users/createUser' method="POST">

    <input type="text" name="email" placeholder="email"  required>
    <input type="password" name="password" placeholder="password"  required>
    <input type="password" placeholder="confirm password" name="conferm_password" required>
    <input type="text" placeholder="enter name" name="name" required>
    <input type="submit" value="sign up">

</form>
<p><a href="/users/auth/google">signIn/signUp with google</a></p>